{% extends 'oro_competition_base.html' %}
{% load static %}
{% block page_title %}ORO — Seniors — Maze{% endblock %}
{% block hero_label %}Seniors &bull; 16–20 ans{% endblock %}
{% block hero_title %}Maze{% endblock %}
{% block hero_image %}{% static 'assets/img/oro/f_maze.jpg' %}{% endblock %}
{% block hero_sticker %}{% static 'assets/img/oro/stickers/saluting-removebg-preview.png' %}{% endblock %}
{% block back_href %}/oro_seniors{% endblock %}
{% block about_html %}
<p >The Maze competition challenges participants to design a robot capable of navigating autonomously through a maze filled with paths, turns, and obstacles. The robot must find the optimal route and reach the finish point in the shortest time possible
<br> maze (20 x20x20 cm , 1kg)</p>
{% endblock %}
{% block action_buttons %}
<a href="{% static 'assets/img/oro/cahiercharge/senior/_Cahier de Charge (Senior) 2026.pdf' %}" class="btn-main" target="_blank"><i class="bi bi-file-earmark-pdf"></i> General Rules</a><a href="{% static 'assets/img/oro/cahiercharge/senior/Maze 2026.pdf' %}" class="btn-main" target="_blank"><i class="bi bi-file-earmark-pdf"></i> Maze</a><a href="https://docs.google.com/forms/d/e/1FAIpQLScjoApTgsOZN4H6pWMxR3aUhhVkxdwrVfIzsvEYquvg2GlPmQ/viewform?usp=publish-editor" class="btn-alt" target="_blank"><i class="bi bi-pencil-square"></i> Register Now</a>
{% endblock %}


