{% extends 'oro_category_base.html' %}
{% load static %}

{% block page_title %}ORO - Juniors (10-12){% endblock %}
{% block hero_title %}Juniors | Ages 10-12{% endblock %}
{% block hero_copy %}Intermediate tracks for teams ready to combine creativity, coding, and stronger robot control.{% endblock %}
{% block hero_sticker %}{% static 'assets/img/oro/stickers/jumping-removebg-preview.png' %}{% endblock %}

{% block competition_cards %}
  <article class="comp-card">
    <img class="comp-thumb" src="{% static 'assets/img/oro/p_bowling.jpg' %}" alt="Bowling">
    <div class="comp-body">
      <h3 class="comp-name">Bowling</h3>
      <a class="comp-btn" href="{% url 'oro_juniors_bowling' %}">View Challenge</a>
    </div>
  </article>

  <article class="comp-card">
    <img class="comp-thumb" src="{% static 'assets/img/oro/f_robofoot.jpg' %}" alt="RoboFoot">
    <div class="comp-body">
      <h3 class="comp-name">RoboFoot</h3>
      <a class="comp-btn" href="{% url 'oro_juniors_robofoot' %}">View Challenge</a>
    </div>
  </article>

  <article class="comp-card">
    <img class="comp-thumb" src="{% static 'assets/img/oro/f_smartcity.jpg' %}" alt="Smart City">
    <div class="comp-body">
      <h3 class="comp-name">Smart City</h3>
      <a class="comp-btn" href="{% url 'oro_juniors_smartcity' %}">View Challenge</a>
    </div>
  </article>
{% endblock %}
