{% extends 'oro_competition_base.html' %}
{% load static %}
{% block page_title %}ORO — Seniors — Line Follower{% endblock %}
{% block hero_label %}Seniors &bull; 16–20 ans{% endblock %}
{% block hero_title %}Line Follower{% endblock %}
{% block hero_image %}{% static 'assets/img/oro/f_unkownmission.jpg' %}{% endblock %}
{% block hero_sticker %}{% static 'assets/img/oro/stickers/saluting-removebg-preview.png' %}{% endblock %}
{% block back_href %}/oro_seniors{% endblock %}
{% block about_html %}
<p >Here a robot must follow a black line on a white background as quickly as possible. Only the fastest robots will proceed to the next round<br> line follower prefabricated (25 × 25 × 25 cm , 1kg)
<br> line follower (25 × 25 × 25 cm , 1 kg)</p>
{% endblock %}
{% block action_buttons %}
<a href="{% static 'assets/img/oro/cahiercharge/senior/_Cahier de Charge (Senior) 2026.pdf' %}" class="btn-main" target="_blank"><i class="bi bi-file-earmark-pdf"></i> General Rules</a>
        <a href="{% static 'assets/img/oro/cahiercharge/senior/Line Follower 2026.pdf' %}" class="btn-main" target="_blank"><i class="bi bi-file-earmark-pdf"></i> Line Follower</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScjoApTgsOZN4H6pWMxR3aUhhVkxdwrVfIzsvEYquvg2GlPmQ/viewform?usp=publish-editor" class="btn-alt" target="_blank"><i class="bi bi-pencil-square"></i> Register Now</a>
{% endblock %}


