{% extends 'oro_competition_base.html' %}
{% load static %}
{% block page_title %}ORO — Seniors — Sumo{% endblock %}
{% block hero_label %}Seniors &bull; 16–20 ans{% endblock %}
{% block hero_title %}Sumo{% endblock %}
{% block hero_image %}{% static 'assets/img/oro/p_sumo.jpg' %}{% endblock %}
{% block hero_sticker %}{% static 'assets/img/oro/stickers/saluting-removebg-preview.png' %}{% endblock %}
{% block back_href %}/oro_seniors{% endblock %}
{% block about_html %}
<p >Just like the traditional Japanese sport, the combatants try to force each other out of the ring. This competition is organised into various classes:
<br> Mega Sumo prefabricated(30 x 30 cm, 2 kg)
<br> Mega Sumo Teleoperated (30 x 30 cm, 2 kg)</p>
{% endblock %}
{% block action_buttons %}
<a href="{% static 'assets/img/oro/cahiercharge/senior/_Cahier de Charge (Senior) 2026.pdf' %}" class="btn-main" target="_blank"><i class="bi bi-file-earmark-pdf"></i> General Rules</a><a href="{% static 'assets/img/oro/cahiercharge/senior/Mega sumo 2026.pdf' %}" class="btn-main" target="_blank"><i class="bi bi-file-earmark-pdf"></i> Sumo</a><a href="https://docs.google.com/forms/d/e/1FAIpQLScjoApTgsOZN4H6pWMxR3aUhhVkxdwrVfIzsvEYquvg2GlPmQ/viewform?usp=publish-editor" class="btn-alt" target="_blank"><i class="bi bi-pencil-square"></i> Register Now</a>
{% endblock %}


