{% extends 'oro_category_base.html' %}
{% load static %}

{% block page_title %}ORO - Poussins (7-9){% endblock %}
{% block hero_title %}Poussins | Ages 7-9{% endblock %}
{% block hero_copy %}Three beginner-friendly tracks designed for first-time competitors with fun, confidence-building challenges.{% endblock %}
{% block hero_sticker %}{% static 'assets/img/oro/stickers/saluting-removebg-preview.png' %}{% endblock %}

{% block competition_cards %}
  <article class="comp-card">
    <img class="comp-thumb" src="{% static 'assets/img/oro/p_bowling.jpg' %}" alt="Bowling">
    <div class="comp-body">
      <h3 class="comp-name">Bowling</h3>
      <a class="comp-btn" href="{% url 'oro_poussins_bowling' %}">View Challenge</a>
    </div>
  </article>

  <article class="comp-card">
    <img class="comp-thumb" src="{% static 'assets/img/oro/f_robofoot.jpg' %}" alt="RoboFoot">
    <div class="comp-body">
      <h3 class="comp-name">RoboFoot</h3>
      <a class="comp-btn" href="{% url 'oro_poussins_robofoot' %}">View Challenge</a>
    </div>
  </article>

  <article class="comp-card">
    <img class="comp-thumb" src="{% static 'assets/img/oro/f_smartcity.jpg' %}" alt="Smart City">
    <div class="comp-body">
      <h3 class="comp-name">Smart City</h3>
      <a class="comp-btn" href="{% url 'oro_poussins_smartcity' %}">View Challenge</a>
    </div>
  </article>
{% endblock %}
