{% extends 'oro_category_base.html' %}
{% load static %}

{% block page_title %}ORO - Seniors (16-20){% endblock %}
{% block hero_title %}Seniors | Ages 16-20{% endblock %}
{% block hero_copy %}Advanced missions built for experienced teams and high-pressure problem solving in real competition conditions.{% endblock %}
{% block hero_sticker %}{% static 'assets/img/oro/stickers/saluting-removebg-preview.png' %}{% endblock %}

{% block competition_cards %}
  <article class="comp-card"><img class="comp-thumb" src="{% static 'assets/img/oro/f_unkownmission.jpg' %}" alt="Line Follower"><div class="comp-body"><h3 class="comp-name">Line Follower</h3><a class="comp-btn" href="{% url 'oro_seniors_linefollower' %}">View Challenge</a></div></article>
  <article class="comp-card"><img class="comp-thumb" src="{% static 'assets/img/oro/f_smartcity.jpg' %}" alt="Smart City"><div class="comp-body"><h3 class="comp-name">Smart City</h3><a class="comp-btn" href="{% url 'oro_seniors_smartcity' %}">View Challenge</a></div></article>
  <article class="comp-card"><img class="comp-thumb" src="{% static 'assets/img/oro/p_sumo.jpg' %}" alt="Sumo"><div class="comp-body"><h3 class="comp-name">Sumo</h3><a class="comp-btn" href="{% url 'oro_seniors_sumo' %}">View Challenge</a></div></article>
  <article class="comp-card"><img class="comp-thumb" src="{% static 'assets/img/oro/f_coding_mission.jpg' %}" alt="Coding Mission"><div class="comp-body"><h3 class="comp-name">Coding Mission</h3><a class="comp-btn" href="{% url 'oro_seniors_coding' %}">View Challenge</a></div></article>
  <article class="comp-card"><img class="comp-thumb" src="{% static 'assets/img/oro/f-roborace.jpg' %}" alt="RoboRace"><div class="comp-body"><h3 class="comp-name">RoboRace</h3><a class="comp-btn" href="{% url 'oro_seniors_roborace' %}">View Challenge</a></div></article>
  <article class="comp-card"><img class="comp-thumb" src="{% static 'assets/img/oro/f_maze.jpg' %}" alt="Maze"><div class="comp-body"><h3 class="comp-name">Maze</h3><a class="comp-btn" href="{% url 'oro_seniors_maze' %}">View Challenge</a></div></article>
  <article class="comp-card"><img class="comp-thumb" src="{% static 'assets/img/oro/f_firefighting.jpg' %}" alt="Firefighting"><div class="comp-body"><h3 class="comp-name">Firefighting</h3><a class="comp-btn" href="{% url 'oro_seniors_firefighting' %}">View Challenge</a></div></article>
{% endblock %}
